# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build output
build/
*.app
AppIcon.icns

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# IDE
*.idea/
*.vscode/
